// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white-bg-color: #FFFFFF;
$white-text-color: #FFFFFF;

$green-bg-color: #27AE60;
$green-text-color: #219653;

$grey-bg-color: #F0F1F2;
$grey-text-color: #9A9EA6;
